@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&family=Poppins:wght@100;200;400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav a:link :hover {
  font-family: "Poppins", sans-serif;
  line-height: 17px;
  color: rgb(18, 18, 18);
  text-decoration: underline;
  cursor: pointer;
}
nav a:visited {
  font-family: "Poppins", sans-serif;
  line-height: 17px;
  color: rgb(16, 15, 15);
  text-decoration: none;
}

nav a:active {
  color:#232121 ;
  font-weight: 500;
  text-decoration: underline;
}
a:hover {
  text-decoration:none; 
  color: #222222;
}
.cursive {
  font-family: 'Great Vibes', cursive;
}

.navbar {
  font-family: "Poppins", sans-serif;
  line-height: 17px;
  border-bottom: 0.1rem solid rgb(201, 201, 201);
}

.nav-link {
  font-weight: 400 !important;
}

.bg {
  background-image: url("./Images/hero_bannr.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-nav {
  background-image: url("./Images/nav_banner.png");
  height: 8vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-category {
  background-image: url("./Images/bannr-category.png");
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-plan {
  background-image: url("./Images/category-bowl.png");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-register {
  background-image: url("./Images/bg-register.jpg");
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-login {
  background-image: url("./Images/bg-login.jpg");
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



